.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #ccc;
    z-index: 0;
    
}

.menu_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo img {
    width: 100px;
}

.btn a{
    font-size: 45px;
    color: rgb(0, 0, 0);
}